<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058201854206-7kfacb3i1f2kcs29cag1cs5uedck65b8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058201854206-7kfacb3i1f2kcs29cag1cs5uedck65b8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1058201854206-hninr8s5q8d5ntkj883v91al2aib7obe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCz-V-E92676G0u7mPiLZ1wNfN_7R0rbTM</string>
	<key>GCM_SENDER_ID</key>
	<string>1058201854206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.digimag</string>
	<key>PROJECT_ID</key>
	<string>digimag-18314</string>
	<key>STORAGE_BUCKET</key>
	<string>digimag-18314.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058201854206:ios:1a6b4d760f6d557552c5af</string>
</dict>
</plist>